.form-wrapper {

    background-color: rgb(255, 255, 255);
    height: 600px;


}

.contact-form {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
    padding: 30px 0px;

}

.form-input {

    width: 700px;
    padding: 10px 0px;
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;
    margin-bottom: 15px;
    border: 1px solid rgb(155, 155, 155)
}

.form-textarea {


    width: 700px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    background-color: antiquewhite;

}

.form-btn {

    width: 200px;
    cursor: pointer;
    padding: 5px 0px;
    background-color: green;
    color: antiquewhite;
}

input:focus {

    box-shadow: 0 0 4px #2ba32b;
    border: 1px solid rgb(155, 155, 155);
    outline: none;
}

textarea:focus {

    border-color: #719ECE;
    box-shadow: 0 0 4px #2ba32b;
    outline: none;
}

label {

    margin-bottom: 5px;
    color: rgb(32, 32, 32);


}

textarea::placeholder {

padding-top: 10px;


}

/* Media queries*/

@media only screen and (max-width: 800px) {

    .form-textarea {
  
      height: 120px;
      width: 400px;
    }

    .form-input {

        width: 350px;
    }

    .contact-form {

        height: 500px;
    }

.form-wrapper {

    height: 500px;
}


    }


    
        @media only screen and (max-width: 480px) {

            .form-textarea {
        
              width: 90%;

            }

            .form-input {

                width: 90%;
            }

            .form-btn {

                width: 100px;
            }
    
            }