.footer-section {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 33, 65);
    height: 80px;

}

.footer-text {

    color: aliceblue;

}

@media only screen and (max-width: 800px) {

    .footer-text {

        font-size: 12px;
    }

}



@media only screen and (max-width: 650px) {

    .footer-text {

        font-size: 10px;


    }

}